@import "./mixins-variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.header {
  height: 100vh;
  background: url("../image/layer7.png") no-repeat center center;
  background-size: cover;
  &__logo {
    @include font(60px, #fff);
    font-family: 'Dancing Script', cursive;
  }
  
  &__top {
    @include placement(space-between, column, center);
    height: 15%;
    width: 30%;
  }
  
  &__menu {
    width: 100%;
  }
  
  &__list {
    @include placement(space-around);
    list-style: none;
  }
    
  &__link {
    @include font(15px, #fff);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  &__text-wrapper {
    @include placement(space-between, column, center);
    height: 40%;
    margin-bottom: 50px;
  }
  
  &__title {
    @include font(73px, #fff);
    font-family: 'Ubuntu', sans-serif;
  }
  
  &__subtitle {
    @include font(15px, #fff, 700);
    margin-bottom: 95px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100px;
      background-color: #fff;
      opacity: 0.23;
      height: 2.5px;
      top: 50%;
      left: -130px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100px;
      background-color: #fff;
      opacity: 0.23;
      height: 2.5px;
      top: 50%;
      right: -130px;
    }
  }
}

.container {
  @include placement(space-around, column, center);
  background-color: rgb(16, 25, 41, 0.5);
  height: 100vh;
}

.button {
  background-color: #50c3af;
  text-decoration: none;
  font-size: 15px;
  color: #f5f5f5;
  outline: 0;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  height: 35px;
  width: 100px;
  &_big-size {
    height: 50px;
    width: 235px;
    font-size: 16px;
  }
  &_grey {
    background-color: #d2d5da;
  }
}

.for-everyone {
  background-color: #eaeaeb;
  display: flex;
  justify-content: center;
  &__content {
    width: 20%;
    padding: 60px 0 60px 0;
    text-align: center;
    align-items: center;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  width: 70%;
  &_height-s {
    height: 40vh;
  }
  &_height-m {
    height: 65vh;
  }
  &_height-l {
    height: 75vh;
  }
  &_height-xl {
    height: 85vh;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__title {
    @include font(17px, $titleColor, 700);
    position: relative;
    &::before {
      @include bottomLine(90%, #293139, 2px, 0.05, -75%, 5%);
    }
    &_font-size {
      font-size: 20px;
      &::before {
        @include bottomLine(100%, #293139, 2px, 0.05, -17px, 0);
      }
    }
    &_line {
      &::before {
        @include bottomLine(100%, #293139, 2px, 0.05, -17px, 0);
      }
    }
  }
  
  &__subtitle {
    @include font(15px, $textColor);
    line-height: 24px;
  }

  &__text {
    @include font(15px, $textColor);
    width: 95%;
    line-height: 24px;
    &_width {
      width: 100%;
    }
  }

  &__link {
    @include font(15px, #50c3af);
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      left: 99px;
      bottom: -1px;
    }
  }
}

.benefits {
  display: flex;
  justify-content: center;
  &__content {
    width: 40%;
    padding: 60px 0 60px 0;
  }
}

.supported-template {
  display: flex;
  justify-content: center;
  background-color: #eaeaeb;
  &__content {
    padding: 60px 0 60px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  img {
    height: 21px;
  }
  &__title {
    @include font(20px, $titleColor, 700);
    padding-left: 15px;
    &_white {
      @include font(18px, #fff, 700);
    }
  }
  &::before {
    @include bottomLine(100%, #293139, 2px, 0.05, -18px, 0);
  }
  &_white {
    &::before {
      @include bottomLine(100%, #fff, 2px, 0.1, -22px, 0);
    }
  }
}

.description {
  display: flex;
  justify-content: center;
  &__content {
    width: 28%;
    padding: 60px 0 60px 0;
  }
}

.send-it {
  display: flex;
  justify-content: center;
  background-color: #eaeaeb;
  &__content {
    width: 40%;
    padding: 60px 0 60px 0;
  }
}

.just-for-you {
  display: flex;
  justify-content: center;
  &__content {
    width: 45%;
    padding: 60px 0 60px 0;
  }
}

.just-for-you__image {
  padding: 60px 0 60px 0;
  width: 45%;
}

.featured-on {
  background-color: #50c3af;
  display: flex;
  justify-content: center;
}

.featured-on-companies {
  @include placement(space-evenly, column, center);
  height: 40vh;
  width: 70%;
  &__text {
    @include placement(space-between);
    @include font(28px, #fff);
    width: 100%;
    opacity: 0.7;
    span:nth-child(1) {
      font-family: 'Dancing Script', cursive;
    }
    span:nth-child(3) {
      font-family: 'Cabin', sans-serif;
    }
    span:nth-child(4) {
      font-weight: 700;
    }
  }
}

.footer {
  @include placement(center);
  background-color: #f5f5f5;
  .footer-box {
    @include placement(space-between, row, center);
    width: 70%;
    height: 8vh;
  }
  
  &__text {
    @include font(14px, #aaacaf);
    span {
      @include font(14px, $textColor);
    }
  }
  
  &__social-networks {
    position: relative;
    a:nth-child(1) {
      position: absolute;
      left: -37px;
      top: 2px;
    }
    a:not(:last-child) {
      padding-right: 18px;
    }
  }
}
